<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
            <div style="margin: 0%; padding: 5px; width: 100%;">
                
                <p style="color: #FF6200;">Dzienny raport z wykonania testów automatycznych: <span style="font-weight: 700;">2019-08-01 03:05:23 </span></p>
                
                <div style="width: 100%">
                    <div style="background-color: #EFEFEF; width: 51%;"></div>

                </div>

            
            </div>

        <!--<script src="" async defer></script>-->
    </body>
</html>
