<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

    </head>
    <body class="font-size: 14px;">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
            <div style="margin: 0%; padding: 5px; width: 100%;">
                
                <p style="color: #FF6200; font-size: 12px;">Dzienny raport z wykonania testów automatycznych: <span style="font-weight: 700;">2019-08-05 22:38</span></p>

                <hr>

                <div style="font-size: 10px;">
                    <p style="">Ilość testów: 51</p>
                    <p style="color: green">Testy pozytywne: 24</p>
                    <p style="color: red">Testy negatywne: 27</p>
                    <p style="color: orange">Testy pominięte: 0</p>
                    <p style="color: purple">Testy błędne: 0</p>
                </div>

                <hr>

                <p style="color: #FF6200; font-size: 12px;">Błędy:</p>
            
            </div>

        <!--<script src="" async defer></script>-->
    </body>
</html>
